<launch>
  <arg name="simulator" default="true"/>
  <arg name="visualise" default="true"/>
  <arg name="waypoint_dir" default="$(find turtlebot_prey_behaviour)/waypoints/simulator/"/>
  
  <node pkg="turtlebot_prey_behaviour" type="predator_spotter.py" name="predator_spotter" output="screen" respawn="true">
    <param name="simulator" type="bool" value="$(arg simulator)"/>
    <param name="visualise" type="bool" value="$(arg visualise)"/>
  </node>

  <node pkg="turtlebot_prey_behaviour" type="state_machine.py" name="prey_state_machine" output="screen" respawn="true">
    <param name="simulator" type="bool" value="$(arg simulator)"/>
    <param name="waypoint_dir" type="string" value="$(arg waypoint_dir)"/>
  </node>

</launch>
